html {
    scroll-behavior: smooth;
  }  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0px;
}

header {
    background-color: #ffb3b3;
    position: fixed;
    width:100%;
    height: 80px;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 50px;
    padding-top: 25px;
}

nav ul li {
    display: inline;
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    border-bottom: 5px solid white;
}

#content {
    padding-top: 100px;
    padding-left: 25px;
}

#content h1 {
    font-size: 40px;
    color: #ffb3b3;
    text-align: center;
}

#content h2 {
    font-size: 30px;
    color: #ffb3b3;
}

#content h3 {
    font-size: 20px;
    color:black;
}

#content p {
    font-size: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 60%; 
}

.image {
    width: 35%; 
}

#overview .image img {
    width: 300px;
    height: auto; 
}

#content ul {
    font-size: 20px;
}